<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>331087445431-1dpevpknvfdvk3g0scalce1njp2n36nt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.331087445431-1dpevpknvfdvk3g0scalce1njp2n36nt</string>
	<key>API_KEY</key>
	<string>AIzaSyBjjECbXMmN3oDRTOVmkbqwBvbg0wQkCVw</string>
	<key>GCM_SENDER_ID</key>
	<string>331087445431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testaudienceapp</string>
	<key>PROJECT_ID</key>
	<string>testaudienceapp</string>
	<key>STORAGE_BUCKET</key>
	<string>testaudienceapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331087445431:ios:dd4489e6180e2557d9fc32</string>
</dict>
</plist>